# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
an_int = 4

print(type(an_int))

##### Assinging float

In [ ]:
a_float = 4.5

print(type(a_float))

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2
num2 = 2.5

In [ ]:
a_sum = num1 + num2

print(a_sum)

a_sum = a_sum + 2

print(a_sum)

# shorthand
a_sum += 2

print(a_sum)

##### Subtraction

In [ ]:
result = num2 - num1

print(result)

result = result - .5

print(result)

# shorthand
result -= .5

print(result)

##### Multiplication

In [ ]:
result_mult = num2 * num1

print(result_mult)

result_mult = result_mult * 2

print(result_mult)

# shorthand
result_mult *= 2

print(result_mult)

##### Division

In [ ]:
result_div = num2 / num1

print(result_div)

result_div = result_div / 2

print(result_div)

# shorthand
result_div /= 2

print(result_div)


##### Floor Division

In [ ]:
result_floor = num2 // num1

print(result_floor)

# shorthand
result_floor //= 2

print(result_floor)

##### Modulo

In [ ]:
result_modulo = num2 % num1

print(result_modulo)

odd_num = 7

# odd_num = odd_num % 2

# shorthand
odd_num %= 2

print(odd_num)

if odd_num % 2 == 1:
    print("odd")

##### Exponential

In [ ]:
square = 5 ** 2

print(square)

a_num = 2

a_num **= 2

print(a_num)

### String Input-Output

##### String Assignment

In [ ]:
a_name = "Lucas"
another_name = 'Christopher'

print(a_name)
print(another_name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("Hello World!")

In [ ]:
print(a_name)

In [ ]:
print(a_name, another_name, "Hello!", "Goodbye!")

In [ ]:
print(a_name, end='.\n')
print(another_name)

##### String Concatenation

In [ ]:
first_name = "Lucas"
last_name = "Lang"

full_name = first_name + " " + last_name

print(full_name)

# shorthand
full_name += "!"
print(full_name)

##### Type Conversion

In [ ]:
number = "32"

print(type(number))

number = int(number)

number *= 3
print(number)

In [ ]:
a_float = "32.5"

a_float = float(a_float)

a_float *= 2

print(a_float)

In [ ]:
string_num = 32

string_num = str(string_num)

print(type(string_num))

##### input()

In [ ]:
age = int(input("What is your age?"))
age2 = int(input("What is your friend's age?"))

avg_age = (age + age2) / 2

print(avg_age)

In [ ]:
name = input("What is your name?")

print(name)

In [ ]:
print("Before input")
name = input("What is your name?")
print("after input")

##### format()

In [ ]:
age = 40
name = "Max"

# W/ String concatenation
print(name + " is " + str(age) + " years old.")

# W/ F strings
print(f"{name} is {age} years old.")
print(f"{name} is {age * 2} years old.")

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# "The car's color is blue, the year is 2019, make is Honda, and model is CR-V"

In [ ]:
color = input("What is your car's color?")
year = input("What is your car's year?")
make = input("What is your car's make?")
model = input("What is your car's model?")

print(f"The car's color is {color}, the year is {year}, make is {make}, and model is {model}")

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 50
num2 = 51

if num1 == num2:
    print("They're the same")
    
if num1 >= num2:
    print("Num1 is greater!")
    
if num1 < num2:
    print("Num1 is smaller.")
    
is_round = False
is_red = False

if is_round or is_red:
    print("The ball is red or round")

##### 'is' keyword

In [ ]:
#num3 = 30

#if num3 is 30:
#    print("They're the same")

##### 'in' keyword

In [ ]:
a_str = "Christopher Thrutchley"

if "Christ" in a_str:
    print("It is!")

In [ ]:
numbers = [1,2,3,4,5,6]

if 6 in numbers:
    print("That number is here.")

##### 'not in' keyword'

In [ ]:
a_str = "Christopher Thrutchley"

if "Christa" not in a_str:
    print("It is not!")

In [ ]:
numbers = [1,2,3,4,5,6]

if 7 not in numbers:
    print("That number isn't here.")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
answer = input("What is your favorite fruit?")

if "p" in answer:
    print("p was in the answer")
    
if "p" not in answer:
    print("p was not in the answer")

## Using 'and'/'or' with If Statements

In [ ]:
# Done above

### Elif Statements

In [ ]:
num1 = 51
num2 = 50

if num1 == num2:
    print("They're the same!")
    
elif num1 >= num2:
    print("Num1 is greater than or equal to!")
    
else:
    print("Num2 is greater than or equal to!")

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
name = "Lucas Lang"

for i in name:
    print(i)

In [ ]:
fruits = ["Banana", "Apple", "Pear"]

for fruit in fruits:
    print(fruit)

In [ ]:
for i in range(1,11):
    print(i)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for i in range(1,11):
    if i != 5:
        print(i)

In [ ]:
for i in range(1,11):
    if i == 5:
        continue
    
    print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    
    print(i)

In [ ]:
fruits = ["Banana", "Pear", "Mango", "Apple"]

for fruit in fruits:
    if fruit == "Apple":
        break
        
    print(fruit)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in range(1,11):
    pass
    # Eventually I want to write this code

##### Double For Loops

In [ ]:
for fruit in fruits:
    for i in fruit:
        print(fruit, i)

### While Loops

In [ ]:
num = 0
while num < 10:
    num += 1
    print(num)

In [ ]:
num = 11
while num != 10:
    num += 1
    print(num)

In [ ]:
user_input = ""

while user_input != "quit":
    user_input = input("Quit or continue?")

##### Looping 'While True'

In [ ]:
while True:
    print("Looping")
    
    user_input = input("Quit or continue?")
    
    if user_input == "quit":
        break

##### While & For Loops Used Together

In [ ]:
while True:
    print("Looping")
    
    user_input = input("Quit or continue?")
    
    if user_input == "quit":
        break
    else:
        number_input = int(input("Choose a number!"))
        
        for i in range(number_input):
            print(i)

### Built-In Functions

##### range()

In [ ]:
# range(start, stop, step)
for i in range(1, 100, 2):
    print(i)

##### len()

In [ ]:
print(len("Lucas Lang"))

In [ ]:
print(len(["Apple", "Banana", "Pear"]))

##### help()

In [ ]:
help(help)

##### isinstance()

In [ ]:
isinstance(4.5, float)

In [ ]:
isinstance(4, int)

In [ ]:
isinstance(32, str)

In [ ]:
isinstance("32", str)

##### abs()

In [ ]:
abs(-5)

In [ ]:
abs(-25)

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [18]:
for i in range(14+1):
    if i == 11:
        break
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for numbs in range(1, 101):
    count= 0
    for i in range (2, (numbs//2+1)):
        if(numbs % i == 0):
            count = count + 1
            break
    if (count == 0 and numbs != 1):
        print(numbs, end= ' ')

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("How old you be?"))

if age < 18:
    print("a child has been detected")
elif age >=18 and age <= 65:
    print("You sir are an adult")
else:
     print("You sir will get senior discounts from now on :)")